<script>
	// window.antiforgery = '';
	window.labels = {
		browse: 'Apri',
		close: 'Chiudi',
		error_email: 'Email non valida',
		error_match: 'I campi non corrispondono',
		error_required: 'Il campo è obbligatorio',
		error_pattern: 'Campo non valido',
		remove: 'Elimina',
		required: 'richiesto',
		select: 'Seleziona',
		select_file: 'Seleziona un file...',
		access_login: 'Login.',
		access_username: 'Username',
		access_password: 'Password',
		access_or: 'oppure',
		access_title: 'Accesso al tour virtuale',
		access_tour: 'Accedi al tour',
		access_cta: 'Accedi',
		access_guided_tour: 'Richiedi un tour guidato',
		access_fill_fields: 'Compila i campi per accedere al tour.',
		access_guided_tour_request: 'Compila i campi e richiedi il tour guidato.',
		access_has_meeting_id: 'possiedi già un meeting id?',
		access_guided_tour_cta: 'Accedi al tour guidato',
		access_first_name: 'Nome',
		access_last_name: 'Cognome',
		access_email: 'Email',
		access_phone_number: 'Telefono',
		access_website: 'Sito Web',
		access_role: 'Ruolo',
		access_privacy_disclaimer: 'Ho letto l\'<a href="/it/it/pagineinterne/informativa_sulla_privacy" target="_blank" rel="noopener noreferrer">informativa</a> e do il consenso al trattamento del dato',
		access_take_part: 'partecipa al meeting',
		access_send: 'Invia',
		access_sent: 'Inviato!',
		access_back: 'Indietro',
		access_request_sent: 'Richiesta inviata!',
		access_info_request: 'La tua richiesta è stata inviata. Verrai contattato da un nostro incaricato per tutti i dettagli.',
	};
	window.data = {
		roles: [
			{ id: 1, name: "Show room" },
			{ id: 2, name: "Architetto" },
			{ id: 3, name: "Interior designer" },
			{ id: 4, name: "Privato" },
			{ id: 5, name: "Altro" }
		]
	};
	window.fields = [
		{ type: 'text', name: 'firstName', label: 'access_first_name', required: true, test: 'Jhon' },
		{ type: 'text', name: 'lastName', label: 'access_last_name', required: true, test: 'Appleseed' },
		{ type: 'email', name: 'email', label: 'access_email', required: true, test: 'jhonappleseed@gmail.com' },
		/*
		{ type: 'text', name: 'phoneNumber', label: 'access_phone_number', required: true, test: '0721-411112' },
		{ type: 'url', name: 'website', label: 'access_website', required: false, test: 'www.websolute.it' },
		*/
		{ type: 'custom-select', name: 'role', label: 'access_role', required: true, options: window.data.roles, test: window.data.roles[0].id },
		{ type: 'checkbox', name: 'privacy', label: 'access_privacy_disclaimer', required: true, test: true },
	];
</script>
