<script>
window.labels = {
	browse: 'Apri',
	close: 'Chiudi',
	cancel: 'Annulla',
	drag_and_drop_images: 'trascina qui le immagini',
	error_email: 'email non valida',
	error_match: 'i campi non corrispondono',
	error_required: 'campo obbligatorio',
	loading: 'caricamento',
	remove: 'Rimuovi',
	required: 'Richiesto',
	select: 'Seleziona',
	select_file: 'Seleziona un file...',
	update: 'Salva',
	upload: 'Carica',
	waiting_host: 'attendere',
	editor_properties: 'Proprietà',
	editor_views: 'Viste',
	editor_view_items: 'Elementi Viste',
	editor_items: 'Elementi',
	editor_menu: 'Menu',
	editor_navmaps: 'Mappe',
	editor_no_items: 'Questa vista non ha elementi',
	editor_type_no_items: 'Questa tipo di vista non ha elementi',
	editor_add_item: 'Aggiungi un elemento',
	editor_tiles: 'Griglia',
	editor_no_tiles: 'Questa vista non ha griglie',
	editor_no_navs: 'Questa griglia non ha navpoint',
	editor_add_nav: 'Aggiungi navpoint e tooltip',
	editor_add: 'Aggiungi',
	editor_save: 'Salva',
	editor_back: 'Indietro',
	editor_image: 'Immagine',
	editor_video: 'Video',
	editor_model: 'Modello',
	editor_publisher_stream: 'Publisher Stream',
	editor_next_attendee_stream: 'Next Attendee Stream',
	editor_waiting_room: 'Sala d\'attesa',
	editor_panorama: 'Panorama',
	editor_panorama_grid: 'Panorama Griglia',
	editor_room_3d: 'Stanza 3D',
	editor_media: 'Media',
	editor_nav: 'Nav Tooltip',
	editor_gltf: 'Modello Gltf',
	editor_plane: 'Piano',
	editor_curved_plane: 'Piano Curvo',
	editor_texture: 'Texture',
	editor_id: 'Id',
	editor_name: 'Nome',
	editor_hide: 'Nascondi dal menu',
	editor_latitude: 'Latitudine',
	editor_longitude: 'Longitudine',
	editor_zoom: 'Zoom',
	editor_ar_ios: 'AR IOS (.usdz)',
	editor_ar_android: 'AR Android (.glb)',
	editor_title: 'Titolo',
	editor_abstract: 'Abstract',
	editor_nav_to_view: 'NavToView',
	editor_link_title: 'Titolo link',
	editor_link_url: 'Url del link',
	editor_position: 'Posizione',
	editor_rotation: 'Rotazione',
	editor_scale: 'Scala',
	editor_radius: 'Raggio',
	editor_height: 'Altezza',
	editor_arc: 'Arco',
	editor_asset: 'Asset',
	editor_image_or_video: 'Immagine o Video',
	editor_use_green_screen: 'Utilizza Green Screen',
	editor_are_you_sure: 'sei sicuro?',
	editor_remove: 'Rimuovi',
	editor_cancel: 'Cancella',
	editor_create: 'Crea',
	editor_click_a_point: 'Clicca un punto sulla vista',
};

</script>
