<script>
window.labels = {
	browse: 'Open',
	close: 'Close',
	cancel: 'Cancel',
	drag_and_drop_images: 'drag images here',
	error_email: 'invalid email',
	error_match: 'fields do not matches',
	error_required: 'required field',
	loading: 'loading',
	remove: 'Remove',
	required: 'Required',
	select: 'Select',
	select_file: 'Select a file...',
	update: 'Save',
	upload: 'Load',
	waiting_host: 'waiting',
	editor_properties: 'Properties',
	editor_views: 'Views',
	editor_view_items: 'View Items',
	editor_items: 'Items',
	editor_menu: 'Menu',
	editor_navmaps: 'Nav Maps',
	editor_no_items: 'This view has no items',
	editor_type_no_items: 'No view items for this type of view',
	editor_add_item: 'Add item',
	editor_tiles: 'Tiles',
	editor_no_tiles: 'This view has no tiles',
	editor_no_navs: 'This tile has no navs',
	editor_add_nav: 'Add Nav with tooltip',
	editor_add: 'Add',
	editor_save: 'Save',
	editor_back: 'Back',
	editor_image: 'Image',
	editor_video: 'Video',
	editor_model: 'Model',
	editor_publisher_stream: 'Publisher Stream',
	editor_next_attendee_stream: 'Next Attendee Stream',
	editor_waiting_room: 'Waiting Room',
	editor_panorama: 'Panorama',
	editor_panorama_grid: 'Panorama Grid',
	editor_room_3d: 'Room 3D',
	editor_media: 'Media',
	editor_nav: 'Nav Tooltip',
	editor_gltf: 'Gltf Model',
	editor_plane: 'Plane',
	editor_curved_plane: 'Curved Plane',
	editor_texture: 'Texture',
	editor_id: 'Id',
	editor_name: 'Name',
	editor_hide: 'Hide from menu',
	editor_latitude: 'Latitude',
	editor_longitude: 'Longitude',
	editor_zoom: 'Zoom',
	editor_ar_ios: 'AR IOS (.usdz)',
	editor_ar_android: 'AR Android (.glb)',
	editor_title: 'Title',
	editor_abstract: 'Abstract',
	editor_nav_to_view: 'NavToView',
	editor_link_title: 'Link Title',
	editor_link_url: 'Link Url',
	editor_position: 'Position',
	editor_rotation: 'Rotation',
	editor_scale: 'Scale',
	editor_radius: 'Radius',
	editor_height: 'Height',
	editor_arc: 'Arc',
	editor_asset: 'Asset',
	editor_image_or_video: 'Image or Video',
	editor_use_green_screen: 'Use Green Screen',
	editor_are_you_sure: 'are you sure?',
	editor_remove: 'Remove',
	editor_cancel: 'Cancel',
	editor_create: 'Create',
	editor_click_a_point: 'Click a point on the view',
};

</script>
