<script>
window.bhere = Object.assign((window.bhere || {}), {
	alternates: [{
		href: '/it/codice-di-accesso',
		lang: 'it',
		title: 'Italiano',
	}, {
		href: '/en/access-code',
		lang: 'en',
		title: 'English',
	}],
});

</script>
<div class="page" access-code-component>
	<!-- @@include ../components/background.html -->
	<!-- access-code -->
	<div class="ui ui--info ui--info-centered">
		<div class="group--info">
			<div class="group--info__content stagger--childs">
				<div class="title" [innerHTML]="'access_code_title' | label"></div>
				<div class="picture">
					<canvas class="qrcode"></canvas>
				</div>
			</div>
		</div>
	</div>
	<!-- @@include ../components/logo.html -->
	<!-- @@include ../components/credits.html -->
	<div class="group--language" language (set)="pushChanges()" *if="state.status != 'connected'"></div>
</div>
