<script>
window.bhere = Object.assign((window.bhere || {}), {
	alternates: [{
		href: '/it/tour-guidato',
		lang: 'it',
		title: 'Italiano',
	}, {
		href: '/en/guided-tour',
		lang: 'en',
		title: 'English',
	}],
});

</script>
<div class="page" agora-component>
	<!-- @@include ../components/background.html -->
	<!-- Status Checklist -->
	<div class="ui ui--info ui--info-centered" *if="state.status == 'checklist'" [agora-checklist] (checked)="onChecked($event)">
		<div class="group--info">
			<div class="group--info__content stagger--childs">
				<div class="title" *if="busy" [innerHTML]="'bhere_checklist_busy' | label"></div>
				<div class="title" *if="checklist.success" [innerHTML]="'bhere_checklist_success' | label"></div>
				<div class="title" *if="checklist.error" [innerHTML]="'bhere_checklist_error' | label"></div>
				<ul class="group--checklist stagger--childs">
					<li class="checklist__item check"><span>Browser</span> <span agora-check [value]="checklist.browser"></span></li>
					<li class="checklist__item error" *if="errors.browser"><a class="btn--link" href="https://browsehappy.com/" target="_blank" rel="noopener" [innerHTML]="errors.browser"></a></li>
					<li class="checklist__item check"><span>Https</span> <span agora-check [value]="checklist.https"></span></li>
					<li class="checklist__item error" *if="errors.https"><a class="btn--link" (click)="openHttps()" [innerHTML]="errors.https"></a></li>
					<li class="checklist__item check" *if="shouldCheckAudio"><span>Audio</span> <span agora-check [value]="checklist.audio"></span></li>
					<li class="checklist__item error" *if="errors.audio"><span [innerHTML]="errors.audio"></span></li>
					<li class="checklist__item check" *if="shouldCheckVideo"><span>Video</span> <span agora-check [value]="checklist.video"></span></li>
					<li class="checklist__item error" *if="errors.video"><span [innerHTML]="errors.video"></span></li>
					<li class="checklist__item check"><span>Realtime Communication</span> <span agora-check [value]="checklist.rtc"></span></li>
					<li class="checklist__item error" *if="errors.rtc"><a class="btn--link" (click)="showFirewallConfiguration()" [innerHTML]="errors.rtc"></a></li>
					<li class="checklist__item check"><span>Realtime Messaging</span> <span agora-check [value]="checklist.rtm"></span></li>
					<li class="checklist__item error" *if="errors.rtm"><a class="btn--link" (click)="showFirewallConfiguration()" [innerHTML]="errors.rtm"></a></li>
				</ul>
				<button type="submit" class="btn--next" [class]="{ disabled: !checklist.success, ready: checklist.success }" (click)="onNext()">
					<span [innerHTML]="'bhere_proceed' | label"></span>
				</button>
			</div>
		</div>
		<a [href]="'editor' | slug" class="btn--absolute" *if="('editor' | flag) && !('heroku' | flag) && state.role == 'publisher'">
			<span [innerHTML]="'bhere_editor' | label"></span> <svg class="edit" width="24" height="24" viewBox="0 0 24 24"><use xlink:href="#edit"></use></svg>
		</a>
	</div>
	<!-- Status Link -->
	<div class="ui ui--info ui--info-centered" *if="state.status == 'link'" [agora-link] (link)="onLink($event)">
		<div class="group--info" *if="form">
			<form class="form" [formGroup]="form" (submit)="isValid() && onNext($event)" name="form" role="form" novalidate autocomplete="off">
				<div class="group--info__content stagger--childs">
					<div class="stagger--childs" *if="state.role !== 'publisher'">
						<div class="group--form group--form--addon" [class]="{ required: controls.id.validators.length, 'addon': controls.id.valid }">
							<label [innerHTML]="'bhere_insert_meeting_id' | label"></label>
							<input type="text" class="control--text" [formControl]="controls.id" [placeholder]="'bhere_meeting_id' | label" />
							<div class="control--addon" (click)="onCopyToClipBoard(controls.id.value)" *if="controls.id.valid">
								<svg class="copy" width="24" height="24" viewBox="0 0 24 24"><use xlink:href="#copy"></use></svg>
							</div>
						</div>
					</div>
					<div class="stagger--childs" *if="state.role === 'publisher'">
						<div class="group--form group--form--addon" [class]="{ required: controls.id.validators.length, 'addon': controls.id.valid }">
							<label><svg class="lock" width="24" height="24" viewBox="0 0 24 24"><use xlink:href="#lock"></use></svg> <span [innerHTML]="'bhere_insert_meeting_id' | label"></span></label>
							<input type="text" class="control--text" [formControl]="controls.id" [placeholder]="'bhere_meeting_id' | label" (change)="onInputDidChange($event)" />
							<div class="control--addon" (click)="onCopyToClipBoard(controls.id.value)" *if="controls.id.valid">
								<svg class="copy" width="24" height="24" viewBox="0 0 24 24"><use xlink:href="#copy"></use></svg>
							</div>
						</div>
						<div class="group--form group--form--addon addon" *if="('attendee' | flag) && controls.idAttendee.valid && controls.idAttendee.value !== null">
							<label><svg class="lock" width="24" height="24" viewBox="0 0 24 24"><use xlink:href="#lock"></use></svg> <span [innerHTML]="'bhere_attendee_meeting_id' | label"></span></label>
							<input type="text" class="control--text" [formControl]="controls.idAttendee" [placeholder]="'bhere_attendee_meeting_id' | label" readonly />
							<div class="control--addon" (click)="onCopyToClipBoard(controls.idAttendee.value)" *if="controls.idAttendee.valid">
								<svg class="copy" width="24" height="24" viewBox="0 0 24 24"><use xlink:href="#copy"></use></svg>
							</div>
						</div>
						<div class="group--form group--form--addon addon" *if="('streamer' | flag) && controls.idStreamer.valid && controls.idStreamer.value !== null">
							<label [innerHTML]="'bhere_streamer_meeting_id' | label"></label>
							<input type="text" class="control--text" [formControl]="controls.idStreamer" [placeholder]="'bhere_streamer_meeting_id' | label" readonly />
							<div class="control--addon" (click)="onCopyToClipBoard(controls.idStreamer.value)" *if="controls.idStreamer.valid">
								<svg class="copy" width="24" height="24" viewBox="0 0 24 24"><use xlink:href="#copy"></use></svg>
							</div>
						</div>
						<div class="group--form group--form--addon addon" *if="('viewer' | flag) && controls.idViewer.valid && controls.idViewer.value !== null">
							<label [innerHTML]="'bhere_viewer_meeting_id' | label"></label>
							<input type="text" class="control--text" [formControl]="controls.idViewer" [placeholder]="'bhere_viewer_meeting_id' | label" readonly />
							<div class="control--addon" (click)="onCopyToClipBoard(controls.idViewer.value)" *if="controls.idViewer.valid">
								<svg class="copy" width="24" height="24" viewBox="0 0 24 24"><use xlink:href="#copy"></use></svg>
							</div>
						</div>
						<div class="group--form group--form--addon addon" *if="('smartDevice' | flag) && controls.idSmartDevice.valid && controls.idSmartDevice.value !== null">
							<label [innerHTML]="'bhere_smart_device_meeting_id' | label"></label>
							<input type="text" class="control--text" [formControl]="controls.idSmartDevice" [placeholder]="'bhere_smart_device_meeting_id' | label" readonly />
							<div class="control--addon" (click)="onCopyToClipBoard(controls.idSmartDevice.value, true)" *if="controls.idSmartDevice.valid">
								<svg class="copy" width="24" height="24" viewBox="0 0 24 24"><use xlink:href="#copy"></use></svg>
							</div>
						</div>
					</div>
					<div class="info" *if="controls.id.errors.required" [innerHTML]="'bhere_insert_meeting_id' | label"></div>
					<div class="info" *if="controls.id.errors.pattern" [innerHTML]="'bhere_invalid_meeting_id' | label"></div>
					<div class="info" *if="isValid()" [innerHTML]="'bhere_take_part_meeting' | label"></div>
					<button type="button" class="btn--generate" *if="state.role == 'publisher'" (click)="onGenerateMeetingId($event)">
						<span [innerHTML]="'bhere_generate_meeting_id' | label"></span>
					</button>
					<button type="submit" class="btn--next" [class]="{ disabled: !isValid() }">
						<span [innerHTML]="'bhere_take_part' | label"></span>
					</button>
					<a [href]="'selfServiceTour' | slug" class="btn--secondary" *if="state.role === 'publisher'">
						<span [innerHTML]="'bhere_self_service' | label"></span>
					</a>
				</div>
			</form>
		</div>
		<a [href]="'editor' | slug" class="btn--absolute" *if="('editor' | flag) && !('heroku' | flag) && state.role == 'publisher'">
			<span [innerHTML]="'bhere_editor' | label"></span> <svg class="edit" width="24" height="24" viewBox="0 0 24 24"><use xlink:href="#edit"></use></svg>
		</a>
	</div>
	<!-- Status Login -->
	<div class="ui ui--info ui--info-centered" *if="state.status == 'login'" [agora-login] (login)="onLogin($event)">
		<div class="group--info">
			<form class="form" [formGroup]="form" (submit)="isValid() && onSubmit()" name="form" role="form" novalidate autocomplete="off">
				<div class="group--info__content stagger--childs">
					<div class="title" [innerHTML]="'bhere_login' | label"></div>
					<input name="checkField" [formControl]="controls.checkField" value="" type="text" style="display:none !important;" />
					<div control-text [control]="controls.username" [label]="'bhere_username' | label"></div>
					<div control-password [control]="controls.password" [label]="'bhere_password' | label"></div>
					<div class="group--error" *if="error">
						<span class="status-code" [innerHTML]="error.statusCode"></span>
						<span class="status-message" [innerHTML]="error.statusMessage"></span>
						<span class="friendly-message" [innerHTML]="error.friendlyMessage"></span>
					</div>
					<div class="info" *if="isValid()" [innerHTML]="'bhere_cta' | label"></div>
					<button type="submit" class="btn--next" [class]="{ disabled: !isValid() }">
						<span [innerHTML]="'bhere_cta' | label"></span>
					</button>
					<test-component [form]="form" (test)="test($event)" (reset)="reset($event)"></test-component>
				</div>
			</form>
		</div>
	</div>
	<!-- Status Name -->
	<div class="ui ui--info ui--info-centered" *if="state.status == 'name' || (state.status == 'disconnected' && state.role === 'viewer')" [agora-name] (name)="onName($event)">
		<div class="group--info" *if="form">
			<form class="form" [formGroup]="form" (submit)="isValid() && onNext($event)" name="form" role="form" novalidate autocomplete="off">
				<div class="group--info__content stagger--childs">
					<!-- NAME -->
					<div class="group--form group--form--addon" [class]="{ required: controls.name.validators.length }">
						<label [innerHTML]="'bhere_fill_fullname' | label"></label>
						<input type="text" class="control--text" [formControl]="controls.name" [placeholder]="'bhere_name_and_surname' | label" />
					</div>
					<div class="info" *if="!controls.name.valid" [innerHTML]="'bhere_fill_name_and_surname' | label"></div>
					<div class="info" *if="isValid()">prosegui come <span [innerHTML]="controls.name.value"></span></div>
					<button type="submit" class="btn--next" [class]="{ disabled: !isValid() }">
						<span [innerHTML]="'bhere_proceed' | label"></span>
					</button>
				</div>
			</form>
		</div>
	</div>
	<!-- Status Device -->
	<div class="ui ui--info" *if="state.status == 'device' || (state.status == 'disconnected' && state.role !== 'viewer')" [agora-device] (enter)="onEnter($event)">
		<div class="group--info" *if="!isHttps">
			<div class="group--info__content stagger--childs">
				<div class="title" [innerHTML]="'bhere_invalid_protocol' | label"></div>
				<div class="info" [innerHTML]="'bhere_reload_in_https' | label"></div>
				<button type="button" class="btn--connect" (click)="openHttps($event)">
					<span [innerHTML]="'bhere_reload' | label"></span>
				</button>
			</div>
		</div>
		<div class="group--info" *if="form">
			<form class="form" [formGroup]="form" (submit)="isValid() && onEnter($event)" name="form" role="form" novalidate autocomplete="off">
				<!-- PREVIEW -->
				<div class="agora-device-preview" agora-device-preview [video]="controls.video.value" [audio]="controls.audio.value" (stream)="onStream($event)" (change)="onStreamDidChange($event)" *if="this.hasPreview">
					<video class="video" muted></video>
					<div class="audio"></div>
				</div>
				<div class="group--info__content stagger--childs">
					<!-- VIDEO -->
					<div control-custom-select [control]="controls.video" label="Video" *if="devices.videos.length"></div>
					<!-- AUDIO -->
					<div control-custom-select [control]="controls.audio" label="Audio" *if="devices.audios.length"></div>
					<div class="info" *if="!isValid()" [innerHTML]="'bhere_select_video_audio' | label"></div>
					<div class="info" *if="isValid()" [innerHTML]="'bhere_video_audio_connected' | label"></div>
					<button type="submit" class="btn--connect" [class]="{ disabled: !isValid() }">
						<svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="#call"></use></svg>
						<span *if="!state.connecting" [innerHTML]="'bhere_enter' | label"></span>
						<span *if="state.connecting" [innerHTML]="'bhere_connecting' | label"></span>
					</button>
				</div>
			</form>
		</div>
	</div>
	<!-- Virtual Tour -->
	<div class="ui virtual-tour" [class]="uiClass" *if="state.status == 'connected' && isVirtualTourUser">
		<!-- @@include ../components/world.html -->
		<!-- @@include ../components/remote.html -->
		<div class="group--header">
			<!-- @@include ../components/service.html -->
			<!-- @@include ../components/local.html -->
		</div>
		<div class="group--footer">
			<!-- @@include ../components/controls.html -->
			<!-- @@include ../components/media.html -->
			<!-- @@include ../components/ar-vr.html -->
			<!-- @@include ../components/like.html -->
		</div>
		<!-- members -->
		<div class="group--members" *if="state.mode == 'live-meeting'">
			<div class="members">
				<svg class="spy" width="24" height="24" viewBox="0 0 24 24"><use xlink:href="#users"></use></svg>
				<span class="members__count" [innerHTML]="state.membersCount"></span>
			</div>
			<div class="credits">
				<a class="btn--credits" href="https://www.websolute.com/" target="_blank" rel="noopener">
					<svg viewBox="0 0 270 98"><use xlink:href="#b-here"></use></svg>
				</a>
			</div>
		</div>
		<!-- @@include ../components/chat.html -->
		<!-- @@include ../components/lock.html -->
		<!-- @@include ../components/navmap.html -->
	</div>
	<!-- Smart Device -->
	<div class="ui remotes" [class]="uiClass" *if="state.status == 'connected' && state.role == 'smart-device'">
		<div class="ui__body"></div>
		<!-- remote sidebar -->
		<div class="group--remote" [class]="'group--remote--' + remotes.length" *if="state.live">
			<div class="agora-stream" (toggleSpy)="onToggleSpy($event)" agora-stream [stream]="remote" type="remote" *for="let remote of remotes">
				<div class="agora-stream__player"></div>
				<div class="agora-stream__info">
					<svg class="cam-muted" width="24" height="24" viewBox="0 0 24 24"><use xlink:href="#cam-muted"></use></svg>
					<svg class="mic-muted" width="24" height="24" viewBox="0 0 24 24"><use xlink:href="#mic-muted"></use></svg>
					<div class="id" [innerHTML]="stream.clientInfo.name || streamId" *if="stream.clientInfo"></div>
				</div>
			</div>
		</div>
		<!-- remote screen -->
		<div class="group--remote-screen" *if="remoteScreen && !hasScreenViewItem">
			<div class="agora-stream" agora-stream [stream]="remoteScreen" type="remote">
				<div class="agora-stream__player"></div>
				<div class="agora-stream__info">
					<div class="id" [innerHTML]="stream.clientInfo.name || streamId" *if="stream.clientInfo"></div>
				</div>
			</div>
		</div>
		<div class="group--header">
			<!-- local streams -->
			<div class="group--local" [class]="{ publisher: state.role == 'publisher', viewer: state.role == 'viewer' }" *if="state.live">
				<div class="agora-stream" agora-stream [stream]="local" type="local" *if="local">
					<div class="agora-stream__player"></div>
					<div class="agora-stream__info">
						<svg class="cam-muted" width="24" height="24" viewBox="0 0 24 24"><use xlink:href="#cam-muted"></use></svg>
						<svg class="mic-muted" width="24" height="24" viewBox="0 0 24 24"><use xlink:href="#mic-muted"></use></svg>
					</div>
				</div>
			</div>
		</div>
		<div class="group--footer">
			<!-- controls -->
			<div class="group--controls" *if="state.live">
				<div class="group--actions">
					<button type="button" class="btn--call" [title]="'title_disconnect' | label" (click)="disconnect()">
						<svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="#call"></use></svg>
					</button>
					<button type="button" class="btn--cam" [title]="'title_mute_camera' | label" [class]="{ muted: state.cameraMuted, disabled: !local }" (click)="toggleCamera()">
						<svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="#cam"></use></svg>
					</button>
					<button type="button" class="btn--mic" [title]="'title_mute_mic' | label" [class]="{ muted: state.audioMuted, disabled: !local || silenced }" (click)="toggleAudio()">
						<svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="#mic"></use></svg>
					</button>
				</div>
			</div>
		</div>
		<!-- members -->
		<div class="group--members">
			<div class="members">
				<svg class="spy" width="24" height="24" viewBox="0 0 24 24"><use xlink:href="#users"></use></svg>
				<span class="members__count" [innerHTML]="state.membersCount"></span>
			</div>
			<div class="credits">
				<a class="btn--credits" href="https://www.websolute.com/" target="_blank" rel="noopener">
					<svg viewBox="0 0 270 98"><use xlink:href="#b-here"></use></svg>
				</a>
			</div>
		</div>
	</div>
	<!-- Self Service Tour -->
	<div class="ui" [class]="uiClass" *if="state.status == 'connected' && state.mode == 'self-service-tour'">
		<!-- @@include ../components/world.html -->
		<div class="group--header">
			<!-- @@include ../components/service.html -->
		</div>
		<div class="group--footer">
			<div class="group--spacer"></div>
			<!-- @@include ../components/media.html -->
			<!-- @@include ../components/ar-vr.html -->
			<!-- @@include ../components/like.html -->
		</div>
		<!-- @@include ../components/navmap.html -->
	</div>
	<!-- Embed -->
	<div class="ui" [class]="uiClass" *if="state.status == 'connected' && state.mode == 'embed'">
		<!-- @@include ../components/world.html -->
		<div class="group--header">
			<!-- @@include ../components/service.html -->
		</div>
		<div class="group--footer">
			<div class="group--spacer"></div>
			<!-- @@include ../components/media.html -->
			<!-- @@include ../components/ar-vr.html -->
			<!-- @@include ../components/like.html -->
		</div>
	</div>
	<!-- @@include ../components/logo.html -->
	<!-- @@include ../components/credits.html -->
	<!-- @@include ../components/language.html -->
</div>
