<script>
window.labels = {
	browse: 'Apri',
	close: 'Chiudi',
	cancel: 'Annulla',
	drag_and_drop_images: 'trascina qui le immagini',
	error_email: 'email non valida',
	error_match: 'i campi non corrispondono',
	error_required: 'campo obbligatorio',
	error_credentials: 'credenziali non valide',
	loading: 'loading',
	remove: 'Rimuovi',
	required: 'Richiesto',
	select: 'Seleziona',
	select_file: 'Seleziona un file...',
	update: 'Salva',
	upload: 'Carica',
	waiting_host: 'attendere',
	bhere_editor: 'editor',
	bhere_insert_meeting_id: 'Inserisci un Meeting ID',
	bhere_meeting_id: 'Meeting ID',
	bhere_attendee_meeting_id: 'Attendee Meeting ID',
	bhere_streamer_meeting_id: 'Streamer Meeting ID',
	bhere_viewer_meeting_id: 'Viewer Meeting ID',
	bhere_smart_device_meeting_id: 'Smart Device ID',
	bhere_invalid_meeting_id: 'meeting id non valido',
	bhere_take_part_meeting: 'partecipa al meeting',
	bhere_generate_meeting_id: 'Genera un Meeting ID',
	bhere_take_part: 'Partecipa',
	bhere_login: 'Login.',
	bhere_username: 'Username',
	bhere_password: 'Password',
	bhere_cta: 'Accedi',
	bhere_fill_fullname: 'Inserisci il nome completo',
	bhere_fill_name_and_surname: 'inserisci un nome e un cognome',
	bhere_proceed_as: 'prosegui come',
	bhere_proceed: 'Prosegui',
	bhere_name_and_surname: 'Nome Cognome',
	bhere_invalid_protocol: 'Protocollo errato.',
	bhere_reload_in_https: 'riapri la pagina in https<br>per accedere al microfono e alla webcam.',
	bhere_reload: 'Riapri',
	bhere_video: 'Video',
	bhere_audio: 'Audio',
	bhere_select_video_audio: 'seleziona una sorgente audio e video',
	bhere_select_video: 'Seleziona una sorgente video',
	bhere_select_audio: 'Seleziona una sorgente audio',
	bhere_video_audio_connected: 'audio e video connessi',
	bhere_enter: 'Entra',
	bhere_connecting: 'In connessione...',
	bhere_ar: 'Inquadra il qrcode con il cellulare o il tablet per vedere il VR.',
	bhere_checklist_busy: 'Verifica sistema',
	bhere_checklist_success: 'Verifica completata',
	bhere_checklist_error: 'Verifica fallita',
	bhere_browser_error: 'clicca qui per aggiornare il browser',
	bhere_https_error: 'clicca qui per ricaricare la pagina in https',
	bhere_write_a_message: 'Scrivi...',
};

</script>
