<script>
window.labels = {
	browse: 'Open',
	close: 'Close',
	cancel: 'Cancel',
	drag_and_drop_images: 'drop image here',
	error_email: 'invalid email',
	error_match: 'fields doesn\'t match',
	error_required: 'field is required',
	error_credentials: 'invalid credentials',
	error_pattern: 'field is not valid',
	loading: 'loading',
	remove: 'Remove',
	required: 'Required',
	select: 'Select',
	select_file: 'Select a file...',
	update: 'Save',
	upload: 'Load',
	waiting_host: 'waiting',
	bhere_editor: 'editor',
	bhere_insert_meeting_id: 'Insert a Meeting ID',
	bhere_meeting_id: 'Meeting ID',
	bhere_attendee_meeting_id: 'Attendee Meeting ID',
	bhere_streamer_meeting_id: 'Streamer Meeting ID',
	bhere_viewer_meeting_id: 'Viewer Meeting ID',
	bhere_smart_device_meeting_id: 'Smart Device ID',
	bhere_invalid_meeting_id: 'invalid meeting id',
	bhere_take_part_meeting: 'take part to the meeting',
	bhere_generate_meeting_id: 'Generate a Meeting ID',
	bhere_take_part: 'Take part',
	bhere_login: 'Login.',
	bhere_username: 'Username',
	bhere_password: 'Password',
	bhere_cta: 'Enter',
	bhere_fill_fullname: 'Please insert full name',
	bhere_fill_name_and_surname: 'Insert name and surname',
	bhere_proceed_as: 'proceed as',
	bhere_proceed: 'Proceed',
	bhere_name_and_surname: 'Name Surname',
	bhere_invalid_protocol: 'invalid protocol.',
	bhere_reload_in_https: 'reload in https<br>to enable microphone and camera.',
	bhere_reload: 'Reload',
	bhere_video: 'Video',
	bhere_audio: 'Audio',
	bhere_select_video_audio: 'select an audio and video source',
	bhere_select_video: 'Select a video source',
	bhere_select_audio: 'Select an audio source',
	bhere_video_audio_connected: 'video and audio connected',
	bhere_enter: 'Enter',
	bhere_connecting: 'Connecting...',
	bhere_ar: 'Scan the qrcode with your mobile or tablet to open VR.',
	bhere_checklist_busy: 'Checking system',
	bhere_checklist_success: 'All checks completed',
	bhere_checklist_error: 'Verification failed',
	bhere_browser_error: 'click here to upgrade your browser',
	bhere_https_error: 'click here to reload in https',
	bhere_write_a_message: 'Write...',
};

</script>
