<!-- chat -->
<div class="group--chat" *if="state.chat" [agora-chat] (close)="onChatClose()">
	<div class="group--scrollview">
		<div class="group--virtual" *virtual="let item of groupedMessages" [mode]="4" [width]="350" [gutter]="0" [reverse]="true">
			<!-- serve un nodo figlio -->
			<div class="listing__item message" [class]="{ me: item.me, typing: item.typing }">
				<div class="message__avatar" [title]="item.name"><span [innerHTML]="item.shortName"></span></div>
				<div class="message__content">
					<div [innerHTML]="item.message"></div>
					<div class="typing-indicator">
						<span></span>
						<span></span>
						<span></span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="group--message">
		<form class="form" [formGroup]="form" (submit)="isValid() && onSubmit($event)" name="form" role="form" novalidate autocomplete="off">
			<div class="group--form group--form--addon" [class]="{ required: controls.message.validators.length, 'addon': controls.message.valid }">
				<input type="text" class="control--text" [formControl]="controls.message" [placeholder]="'bhere_write_a_message' | label" />
				<button type="submit" class="control--addon">
					<svg class="copy" width="24" height="24" viewBox="0 0 24 24"><use xlink:href="#send"></use></svg>
				</button>
			</div>
		</form>
	</div>
	<div class="group--close">
		<button type="button" class="btn--close" [title]="'title_close' | label" (click)="onClose($event)">
			<svg class="copy" width="24" height="24" viewBox="0 0 24 24"><use xlink:href="#close"></use></svg>
		</button>
	</div>
</div>
