<!-- controls -->
<div class="group--controls" *if="state.live">
	<button type="button" class="btn--call" (click)="disconnect()">
		<svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="#call"></use></svg>
	</button>
	<button type="button" class="btn--cam" [class]="{ muted: state.cameraMuted, disabled: !local }" (click)="toggleCamera()">
		<svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="#cam"></use></svg>
	</button>
	<button type="button" class="btn--mic" [class]="{ muted: state.audioMuted, disabled: !local }" (click)="toggleAudio()">
		<svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="#mic"></use></svg>
	</button>
	<button type="button" class="btn--screen" [class]="{ active: screen }" (click)="toggleScreen()" *if="state.role == 'publisher' || state.role == 'attendee'">
		<svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="#screen"></use></svg>
	</button>
	<button type="button" class="btn--chat" [class]="{ active: state.chatDirty }" (click)="toggleChat()" *if="('chat' | flag)">
		<svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="#chat"></use></svg>
	</button>
</div>
