<!-- world -->
<div class="ui__body">
	<div class="world" world [view]="view" [views]="views" (navTo)="onNavTo($event)">
		<div class="world__view" *if="view">
			<div class="grid" model-grid *if="view.type.name === 'panorama-grid'" [view]="view" (move)="onGridMove($event)" (nav)="onGridNav($event)"></div>
			<div *if="view.ready">
				<div model-room [view]="view" *if="view.type.name === 'room-3d'"></div>
				<div class="world__item" *for="let item of view.items; let index = index;">
					<div model-nav [item]="item" [view]="view" (over)="onNavOver($event)" (out)="onNavOut($event)" (down)="onNavDown($event)" *if="item.type.name == 'nav'"></div>
					<div model-plane [item]="item" [view]="view" (play)="onPlayMedia($event)" (zoom)="onZoomMedia($event)" (currentTime)="onCurrentTimeMedia($event)" *if="item.type.name == 'plane'"></div>
					<div model-curved-plane [item]="item" [view]="view" (play)="onPlayMedia($event)" (zoom)="onZoomMedia($event)" (currentTime)="onCurrentTimeMedia($event)" *if="item.type.name == 'curved-plane'"></div>
					<div class="model-viewer__item" model-model [item]="item" [view]="view" (down)="onModelDown($event)" (play)="onPlayModel($event)" *if="item.type.name == 'model'">
						<!-- <div class="banner loading" model-banner [item]="progress" *if="progress"></div> -->
						<!-- <div class="progress" [innerHTML]="progress.title" *if="progress"></div> -->
					</div>
					<div class="panel" [class]="{ 'panel--lg': item.asset != null }" model-panel [item]="item" (down)="onPanelDown($event)" *if="item.showPanel">
						<div class="panel__title" [innerHTML]="item.title"></div>
						<div class="panel__abstract" [innerHTML]="item.abstract"></div>
						<img class="panel__picture" [src]="item.asset | asset" *if="item.asset">
						<a class="panel__link" [href]="item.link.href" target="_blank" rel="noopener" *if="item.link" [innerHTML]="item.link.title"></a>
					</div>
				</div>
			</div>
			<!--
			<div class="banner loading" model-banner [item]="loading" *if="loading">
				<div class="banner__title" [innerHTML]="item.title"></div>
			</div>
			<div class="banner waiting" model-banner [item]="waiting" *if="waiting">
				<div class="banner__title" [innerHTML]="item.title"></div>
			</div>
			-->
		</div>
		<div class="banner progress" model-progress [view]="view"></div>
		<div model-menu [views]="views" (nav)="onMenuNav($event)" (toggle)="onMenuToggle($event)" *if="state.hosted && state.navigable">
			<div class="btn--menu" (click)="onToggle($event)">
				<svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="#menu"></use></svg>
			</div>
		</div>
		<div model-debug *if="debugging"></div>
		<div class="world__info" *if="error" [innerHTML]="error"></div>
	</div>
</div>
