<style>
.app {
	/* --font-primary: GT Walsheim, Maven Pro, Arial, sans-serif; */
	--font-primary: Work Sans, Arial, sans-serif;
	--background: #ffffff;
	--background-negative: #101010;
	--background-primary: #897766;
	--background-secondary: #ff4332;
	--background-tertiary: #d8dfe4;
	--background-primary-darker: #897766;
	--background-primary-darkest: #897766;
	--background-primary-disabled: #c4d3dd;
	--background-primary-dimmed: rgba(0, 153, 255, 0.08);
	--foreground: #101010;
	--foreground-negative: #fcfcfc;
	--foreground-primary: #897766;
	--foreground-secondary: #ff4332;
	--foreground-tertiary: #6d7b84;
	--foreground-primary-darker: #897766;
	--foreground-primary-darkest: #897766;
	--foreground-primary-disabled: #c4d3dd;
	--foreground-primary-dimmed: rgba(255, 115, 0, 0.5);
	--border: #101010;
	--shadow: rgba(151, 115, 86, 0.65);
}

</style>
