<style>
.page {
	/* --font-primary: GT Walsheim, Maven Pro, Arial, sans-serif; */
	--font-primary: Work Sans, Arial, sans-serif;
	--background: #ffffff;
	--background-negative: #101010;
	--background-primary: #caa374;
	--background-secondary: #caa374;
	--background-tertiary: #d8dfe4;
	/*--background-primary-darker: darken(#0099ff, 5%);*/
	/*--background-primary-darkest: darken(#0099ff, 10%);*/
	--background-primary-disabled: #c4d3dd;
	--background-primary-dimmed: rgba(255, 166, 0, 0.08);
	--foreground: #101010;
	--foreground-negative: #fcfcfc;
	--foreground-primary: #caa374;
	--foreground-secondary: #caa374;
	--foreground-tertiary: #84826d;
	/*--foreground-primary-darker: darken(#0099ff, 5%);*/
	/*--foreground-primary-darkest: darken(#0099ff, 10%);*/
	--foreground-primary-disabled: #c4d3dd;
	--foreground-primary-dimmed: rgba(255, 166, 0, 0.5);
	--border: #101010;
	--shadow: rgba(255, 166, 0, 0.65);
}

</style>
