@mixin ratio($width, $ratio) {
	width: $width;
	height: $width / $ratio;
}

html,
body {
	width: 100%;
	height: 100%;
}

body {
	position: fixed;
	overflow: hidden;
	background: $background-negative;
}

.app,
.page {
	width: 100%;
	height: 100%;
}

.page {
	background: $background;

	&>.background {
		position: absolute;
		left: 0;
		top: 0;
		width: 100vw;
		height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
		background: $background-negative;

		&>img,
		&>video {
			object-fit: cover;
			width: 100%;
			height: 100%;
			// filter: blur(24px);
		}

		&>video {
			opacity: 0;
			transition: opacity ease-in-out 350ms;

			&.ready {
				opacity: 1;
			}
		}

		&:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: $background-negative;
			opacity: 0.8;
		}

		@include media-up(sm) {

			&>img {
				display: none;
			}

			&>video {
				display: block;
			}
		}

		@include media-down(xs) {

			&>img {
				display: block;
			}

			&>video {
				display: none;
			}
		}
	}

	&>.btn--credits {
		position: absolute;
		left: 30px;
		bottom: 26px;
	}

	.btn--absolute {
		/*
		position: absolute;
		top: 15px;
		right: 15px;
		z-index: 10000;
		*/
		position: absolute;
		right: 15px;
		bottom: 15px;
		z-index: 10000;
		// left: 50%;
		// transform: translateX(-50%);
	}
}
