.btn--cam,
.btn--mic,
.btn--screen,
.btn--call {
	// @extend %btn-circle;
	@extend %btn;
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 20px;
	transition: all ease-in-out 350ms;

	svg {
		width: 18px;
		height: 18px;
	}

	@include media-down(sm) {
		width: 40px;
		height: 40px;
		border-radius: 20px;

		svg {
			width: 18px;
			height: 18px;
		}
	}

	&,
	&:active,
	&:focus,
	&:hover,
	&:visited {
		background: transparent;
		color: $foreground-negative;

		svg {
			fill: currentColor;
		}
	}
}

.btn--call {

	&,
	&:active,
	&:focus,
	&:hover,
	&:visited {
		background: $background-secondary;
		color: $foreground-negative;
	}
}

.btn--cam,
.btn--mic,
.btn--screen {
	&.disabled {
		display: none;
		pointer-events: none;
	}

	&.muted {
		opacity: 0.2;
	}

	&.active {
		color: $foreground-secondary;
	}
}

.btn--ar,
.btn--vr {
	@extend %btn-rect;

	&.disabled {
		display: none;
	}
}

.btn--volume {
	@extend %btn-circle;
	width: 40px;
	height: 40px;
	border: 2px solid transparent;
	opacity: 0.4;
	transition: opacity ease-in-out 350ms;

	&>svg {
		width: 18px;
		height: 18px;
		fill: currentColor;
	}

	&,
	&:active,
	&:hover,
	&:focus,
	&:visited {
		background: transparent;
		border-color: rgba(255, 255, 255, 0.2);
		color: $foreground-negative;
	}

	&.disabled {
		display: none;
		pointer-events: none;
	}

	&.muted {
		border-color: transparent;
	}

	&:hover {
		opacity: 1;
	}
}

.btn--control {
	@extend %btn-circle;
	width: 40px;
	height: 40px;
	border: 2px solid transparent;
	opacity: 0.4;
	transition: opacity ease-in-out 350ms;

	&>svg {
		width: 18px;
		height: 18px;
		fill: currentColor;
	}

	/*
	@extend %btn-circle;
	margin-left: 10px;
	border: 2px solid transparent;

	svg {
		width: 28px;
		height: 28px;
		fill: currentColor;
	}
	*/

	&,
	&:active,
	&:hover,
	&:focus,
	&:visited {
		background: transparent;
		border-color: rgba(255, 255, 255, 0.2);
		color: $foreground-negative;
	}

	/*
	&,
	&:active,
	&:focus,
	&:hover,
	&:visited {
		border-color: $black-20;
		background: $background-primary;
		color: $foreground-negative;
	}
	*/

	&:hover {
		background: transparent;
		border-color: rgba(255, 255, 255, 0.2);
		color: $foreground-secondary;
		opacity: 1;
	}

	&.active {

		&,
		&:active,
		&:focus,
		&:hover,
		&:visited {
			background: transparent;
			border-color: $foreground-secondary;
			color: $foreground-secondary;
		}
	}
}

.btn--heart {
	@extend %btn-reset;
	position: relative;
	line-height: 0;
	margin: 0 10px 0 0;
	padding: 0;

	svg {
		fill: $foreground-secondary;
		width: 40px;
		height: 40px;
	}

	.badge {
		position: absolute;
		width: 20px;
		height: 20px;
		background: $background;
		border-radius: 10px;
		font-weight: 800;
		font-size: 10px;
		display: flex;
		justify-content: center;
		align-items: center;
		line-height: 1;
		right: -10px;
		bottom: 0;
		margin-top: -10px;
	}

	&.active {
		.badge {
			animation: flip-2-hor-top-1 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
		}
	}

}

.btn--menu {
	@extend %btn-circle;
	position: absolute;
	pointer-events: all;
	right: 20px;
	top: 50%;

	svg {
		width: 28px;
		height: 28px;
	}

	&,
	&:active,
	&:focus,
	&:hover,
	&:visited {
		background: $background;
		color: $foreground;

		svg {
			fill: currentColor;
		}
	}

	&:hover {
		background: $background-negative;
		color: $foreground-negative;
		opacity: 0.8;
	}

	&.active {

		&,
		&:active,
		&:focus,
		&:hover,
		&:visited {
			border-color: transparent;
			background: $black-80;
			color: $foreground-negative;
		}
	}
}

.btn--generate,
.btn--next,
.btn--connect,
.btn--absolute {
	@extend %btn-rect;
}

.btn--absolute {
	position: absolute;
	top: 15px;
	right: 15px;
	z-index: 10000;
}

.btn--cancel,
.btn--accept {
	@extend %btn-rect;
}

.btn--close {
	@extend %btn-reset;
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;

	svg {
		width: 20px;
		height: 20px;
	}
}
