$remote-width: 120px;
$remote-height: 90px;
$chat-width: 240px;

.ui {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	@include unselectable();

	&.publisher,
	&.attendee,
	&.streamer,
	&.viewer {

		.group--remote {

			@include media-up(sm) {
				position: absolute;
				display: flex;
				background: $background-negative;

				@media (orientation: landscape) {
					flex-direction: column;
					justify-content: flex-start;
					top: 0;
					left: -$remote-width;
					width: $remote-width;
					height: 100%;
					flex: 1 1 $remote-width;

					.group--members {
						width: $remote-width;
						bottom: 0;
						left: 0;
					}
				}

				@media (orientation: portrait) {
					flex-direction: row;
					justify-content: flex-start;
					bottom: -$remote-height;
					left: 0;
					width: 100%;
					height: $remote-height;
					flex: 1 1 100%;

					.group--members {
						right: 0;
						height: 100%;
					}
				}
			}

			@include media-down(xs) {
				position: absolute;
				top: 0;
				left: 0;

				.group--members {
					display: none;
				}
			}
		}

		@include media-up(sm) {
			@media (orientation: landscape) {
				width: calc(100% - #{$remote-width});
				margin-left: $remote-width;

				.group--members {
					left: -$remote-width;
				}
			}

			@media (orientation: portrait) {
				height: calc(100% - #{$remote-height});
				margin-bottom: $remote-height;
			}
		}

		&.chat {

			.group--chat {

				@include media-up(sm) {

					@media (orientation: landscape) {
						top: 0;
						right: -$chat-width;
						width: $chat-width;
						height: 100%;
						flex: 1 1 $chat-width;
					}

					@media (orientation: portrait) {
						display: none;
					}
				}

				@include media-down(xs) {
					display: none;
				}
			}

			@include media-up(sm) {
				@media (orientation: landscape) {
					width: calc(100% - #{$remote-width} - #{$chat-width});
					margin-left: $remote-width;
					margin-right: $chat-width;

					.group--members {
						left: -$remote-width;
					}

					.group--chat {
						right: -$chat-width;
					}
				}

				@media (orientation: portrait) {
					height: calc(100% - #{$remote-height});
					margin-bottom: $remote-height;

					.group--chat {
						display: none;
					}
				}
			}
		}
	}

	&.smart-device {

		.group--remote {
			position: absolute;
			display: flex;
			background: $background-negative;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: flex-start;
			align-items: flex-start;
			width: 100%;

			/*
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 100%;
			*/

			top: 0;
			left: 0;
			flex: 0 0 auto;
			// height: calc(100% - #{$remote-height});
			// flex: 0 0 calc(100% - #{$remote-height});

			.agora-stream {
				height: auto;

				.agora-stream__player {
					@include aspect-clip(4, 3);

					&>div {
						position: absolute !important;
						top: 0;
						left: 0;
					}
				}
			}

			@media screen and (min-width: 1024px) {
				.agora-stream {
					flex: 0 1 25%;
					width: 25%;

					&:nth-child(1),
					&:nth-child(2),
					&:nth-child(3) {
						flex: 0 1 33.3333%;
						width: 33.3333%;
					}
				}
			}

			@media screen and (min-width: 1440px) {
				.agora-stream {
					flex: 0 1 33.3333%;
					width: 33.3333%;

					&:nth-child(1),
					&:nth-child(2),
					&:nth-child(3) {
						flex: 0 1 50%;
						width: 50%;
					}
				}
			}

			@media screen and (min-width: 1600px) {
				.agora-stream {
					flex: 0 1 20%;
					width: 20%;

					&:nth-child(1),
					&:nth-child(2),
					&:nth-child(3),
					&:nth-child(4) {
						flex: 0 1 25%;
						width: 25%;
					}
				}
			}

			@media screen and (max-width: 1023px) {
				.agora-stream {
					flex: 0 1 33.3333%;
					width: 33.3333%;
				}
			}

			@media screen and (max-width: 767px) {
				.agora-stream {
					flex: 0 1 50%;
					width: 50%;
				}
			}

			@media screen and (max-width: 374px) {
				.agora-stream {
					flex: 0 1 100%;
					width: 100%;
				}
			}
		}

		.group--local {
			display: none;
		}

		.group--members {
			width: $remote-width;
			height: $remote-height;
			bottom: 0;
			right: 0;
		}
	}

	&.embed {
		.group--remote {
			display: none;
		}
	}

	&.self-service {
		.group--remote {
			display: none;
		}
	}

	&.publisher {
		.group--local {
			.agora-stream {
				margin-left: 20px;
			}
		}
	}

	&.viewer {
		.group--local {
			.agora-stream {
				display: none;
			}
		}
	}
}

.ui--info {
	@include media-down(sm) {
		padding: 80px 0 15px 0;

		&:not(.ui--info-centered) {
			justify-content: flex-start;
		}
	}
}

.ui--info-centered {
	.picture {
		display: flex;
		justify-content: center;
	}
}

.ui__body {
	position: absolute;
	width: 100%;
	height: 100%;
	background: $background-negative;
}

.ui__lock {
	position: absolute;
	width: 100%;
	height: calc(100% - 2px);
	top: 0;
	left: 0;
	border: 2px solid $foreground-secondary;
	z-index: 2;

	&.control {
		pointer-events: none;
	}

	// !!!
	pointer-events: none;
}
